

.app-container{
    margin: auto;
    width: 1300px;
    padding: 1rem;
    margin-top: 1rem;
}

.small-title{
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sidebar {
  height: 95vh;
  background-color: #37c191;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: .2px solid lightgray;
}

.sidebar-link {
  color: white;
}

.sidebar-link span {
  display: block;
  margin-top: 5px;
}